<div class="pagehead">
  <div class="container">
    <nav class="pagehead-nav" role="navigation">
      <a href="/styleguide" aria-selected="true" class="js-selected-navigation-item selected pagehead-nav-item" data-selected-links=" /styleguide">
        <span class="octicon octicon-home"></span> Overview
</a>      <a href="http://primercss.io" class="js-selected-navigation-item pagehead-nav-item" data-selected-links="css_styleguide http://primercss.io">
        <span class="octicon octicon-paintcan"></span> Primer (HTML &amp; CSS)
</a>      <a href="/styleguide/javascript" class="js-selected-navigation-item pagehead-nav-item" data-selected-links=" /styleguide/javascript">
        <span class="octicon octicon-code"></span> JavaScript
</a>      <a href="/styleguide/ruby" class="js-selected-navigation-item pagehead-nav-item" data-selected-links=" /styleguide/ruby">
        <span class="octicon octicon-ruby"></span> Ruby
</a>      <a href="/styleguide/mobile" class="js-selected-navigation-item pagehead-nav-item" data-selected-links=" /styleguide/mobile">
        <span class="octicon octicon-device-mobile"></span> Mobile
</a>    </nav>

    <h1>Styleguide</h1>
  </div>
</div>
